// Background colors

.blue-background {
  background-color: $color-blue;
}

.cobalt-background {
  background-color: $color-cobalt;
}

.yellow-background {
  background-color: $color-yellow;
}

.pink-background {
  background-color: $color-pink;
}

.pcss-navy-background {
  background-color: $color-pcss-navy;
}

// PCSS case study header

.pcss-header {
  background-image: url("../assets/img/pcss-header.jpg");
  background-size: cover;
  background-position: center;
}
