// Background colors

.white-background {
  background-color: #FFF;
}

.blue-background {
  background-color: $color-blue;
}

.cobalt-background {
  background-color: $color-cobalt;
}

.yellow-background {
  background-color: $color-yellow;
}

.pink-background {
  background-color: $color-pink;
}

.pcss-navy-background {
  background-color: $color-pcss-navy;
}

.ovoc-green-background {
  background-color: #05A8AA;
}

.lps-pink-background {
  background-color: #F9E3D6;
}

.ocs-blue-background {
  background-color: #0A0E21;
}


// Background images

.ocs-image-bg {
  background-image: url("../assets/img/ocs-case-study.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border: 15px solid #FFF;
}

.ovoc-image-bg {
  background-image: url("../assets/img/ovoc-case-study.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border: 15px solid #FFF;
}

.lps-image-bg {
  background-image: url("../assets/img/hand-bulb.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border: 15px solid #FFF;
}

.pcss-image-bg {
  background-image: url("../assets/img/pcss-case-study.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border: 15px solid #FFF;
}


//

.hero-ocs {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: #0A0E21;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}

.hero-ovoc {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: #05A8AA;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}

.hero-lps {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: #F9E3D6;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}

.hero-pcss {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: #015296;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}




// Offset div backgrounds

.yellow-offset-background {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: $color-yellow;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}

.white-div-border {
  border: 15px solid #FFF;
}

// Mobile

@media screen and (max-width: 600px) {
  .hero-ocs, .hero-ovoc, .hero-lps {

    &:after {
    height: 63%;
    width: 66%;
    }
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .hero-ocs, .hero-ovoc, .hero-lps {

    &:after {
    height: 52%;
    width: 42%;
    }
  }
}
