// Author section smaller text

.blog-author-sub-text {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

// Contents table

.contents-table {
  background-color: $color-yellow;
  padding: 25px;
  border-radius: 7px;

  a {
    text-decoration: none;
    color: $color-cobalt;
    transition: 0.3s all;

    &:hover {
      color: $color-pink;
    }
  }
}

// Custom blog gutter

.blog-gutter {
  padding-left: 31%;
  padding-right: 31%;
}

// Alert box

.alert-box {
  background-color: #f5f8fa;
  border-radius: 4px;
  color: $color-cobalt;
  padding: 5%;

  .alert-box-header {
    background-color: #FFF;
    border: 1px solid $color-cobalt;
    border-radius: 4px;
    padding: 3%;

    img {
      width: auto;
      height: auto;
      max-width: 7%;
    }
  }
}

// User favicons

.user-favicon {
  height: auto;
  width: auto;
  max-width: 15%;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

// Subscribe box

.show-subscribe-modal {
  bottom: 20px;
  right: 20px;
}

.subscribe-modal {
  width: 344px;
  position: fixed;
  bottom: -1000px;
  right: -1000px;
  background-color: $color-yellow;
  padding: 40px;
  border-radius: 7px;
  -webkit-box-shadow: 0 11px 32px -5px rgba(54, 61, 77, 0.2)!important;
  -moz-box-shadow: 0 11px 32px -5px rgba(54, 61, 77, 0.2)!important;
  box-shadow: 0 11px 32px -5px rgba(54, 61, 77, 0.2)!important;
  transition: right 1.5s ease;

  h5 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  form {
    width: 100%;

    input[type="text"] {
      width: 100%;
      border: none;
      border-bottom: 2px solid $color-cobalt;
      color: $color-cobalt;
      background: transparent;
      padding: 10px 0 10px 0;
      font-family: "Poppins",sans-serif;
      font-size: 15px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: -40px;
    width: auto;
    height: auto;
    max-height: 30px;
    cursor: pointer;
  }
}

.terms-conditions {
  font-size: 12px !important;
}

// Mobile

@media screen and ( max-width: 600px ) {
  .blog-gutter {
    padding-left: 5%;
    padding-right: 5%;
  }

  .subscribe-modal {
    width: 68%;
    padding: 8% 6% 6% 6%;

    img {
      position: absolute;
      top: -8px;
      left: calc(50% - 15px);
      width: auto;
      height: auto;
      max-height: 30px;
      cursor: pointer;
    }
  }
}
// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .blog-gutter {
    padding-left: 18%;
    padding-right: 18%;
  }

  .subscribe-modal {
    width: 285px;
  }
}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1366px ) {
  .blog-gutter {
    padding-left: 25%;
    padding-right: 25%;
  }
}
