// Reset

.button-reset {
  background: none;
  border: none;
}


// Buttons

.btn-primary {
  font-family: $text-headers;
  font-size: 13px;
  font-weight: $text-weight-semi-bold;
  border-radius: 7px;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 10px 23px 10px 23px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 150px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;


  svg {
    height: auto;
    width: auto;
    max-height: 0.6rem;
    margin-left: 20px;


    path {
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
    }
  }
}

.btn-secondary {
  font-family: $text-headers;
  font-size: 13px;
  font-weight: $text-weight-semi-bold;
  background-color: transparent;
  border-radius: 7px;
  padding: 10px 23px 10px 23px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 150px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;


  svg {
    height: auto;
    width: auto;
    max-height: 0.6rem;
    margin-left: 20px;


    path {
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
    }
  }
}

.btn-text-only {
  font-family: $text-headers;
  font-size: 17px;
  font-weight: $text-weight-semi-bold;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 150px;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  img {
    height: auto;
    width: auto;
    max-height: 0.8rem;
    margin-left: 10px;
  }
}

// Modifiers

.fw {
  width: 100%;
}

.rounded {
  border-radius: 50px;
}

.square {
  border-radius: 0px;
}

.btn-blue {
  border: 3px solid $color-blue;
  background-color: $color-blue;
  color: #FFF;

  &:hover {
    background-color: transparent;
    padding: 10px 23px 10px 23px;
    color: $color-blue;

    path {
      fill: $color-blue;
    }
  }
}

.btn-cobalt {
  border: 3px solid $color-cobalt;
  background-color: $color-cobalt;
  color: #FFF;

  &:hover {
    background-color: transparent;
    padding: 10px 23px 10px 23px;
    color: $color-cobalt;

    path {
      fill: $color-cobalt;
    }
  }
}

.btn-cobalt-secondary {
  border: 3px solid $color-cobalt;
  background-color: transparent;
  color: $color-cobalt;

  &:hover {
    border: 3px solid $color-cobalt;
    background-color: $color-cobalt;
    color: #FFF;

    path {
      fill: #FFF;
    }
  }
}

.btn-pink {
  border: 3px solid $color-pink;
  background-color: $color-pink;
  color: #FFF;

  &:hover {
    background-color: transparent;
    padding: 10px 23px 10px 23px;
    color: $color-pink;

    path {
      fill: $color-pink;
    }
  }
}

.btn-white {
  border: 3px solid #FFF;
  background-color: #FFF;
  color: $color-cobalt;

  &:hover {
    background-color: transparent;
    padding: 10px 23px 10px 23px;
    color: #FFF;

    path {
      fill: #FFF;
    }
  }
}



// Media Queries

// Mobile

@media screen and ( max-width: 600px ) {
  .btn-primary {
    font-size: 10px;
    min-height: 40px;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }

  .btn-secondary {
    font-size: 10px;
    min-height: 40px;
    min-width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }

  .btn-mobile-full-width {
    width: 100%;
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .btn-tablet-full-width {
    width: 100%;
  }
}
