// Pricing cards

.pricing-card-container {
  flex: none;
  width: 22%;
  margin: 0 0 0 .5rem;
}

.pricing-card {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 35%;
  border-radius: 26px;
  box-shadow: 0px 7px 9px 4px rgba(0,0,0,0.2);
  padding: 10% 0 10% 0;

  button {
    margin-top: 10em;
  }
}

.pricing-card-1 {
  background-image: url(../assets/icons/price-svg-bg-1.svg);
}

.pricing-card-2 {
  background-image: url(../assets/icons/price-svg-bg-2.svg);
}

.pricing-card-3 {
  background-image: url(../assets/icons/price-svg-bg-3.svg);
}

.white-card {
  -webkit-box-shadow: 0px 12px 35px 9px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 12px 35px 9px rgba(0,0,0,0.16);
  box-shadow: 0px 12px 35px 9px rgba(0,0,0,0.16);
  position: relative;
  padding: 25px;
  border-radius: 7px;
  background-color: #FFF;
}

// Case study styles

.case-study-card {
  border-radius: 25px 25px 0 0;

  a {
    img {
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
    }

    &:hover {
      img {
        margin-left: 25px;
      }
    }
  }
}

.case-study-padding {
  padding: 7% 7% 0 7%;
}

.case-study-img-absolute {
  position: absolute;
  bottom: 0;
  width: 87%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-top: 35px;
}

.case-study-img {
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-top: 35px;
}

// Testimonial cards

.testimonial-card {
  background-color: #E8E8E8;
  padding-top: 20%;
  position: relative;
  background-image: url("../assets/img/quotation.png");
  background-position: 45% -20%;
  background-size: 25%;
  background-repeat: no-repeat;

  .testimonial-logo {
    width: auto;
    height: auto;
    max-width: 35px;
    display: block;
  }

  .testimonial-card-img-container {
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100%;
    width: calc(30% + 40px);

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      display: block;
      border: 10px solid #FFF;
    }
  }
}


// Mobile

@media screen and ( max-width: 461px ) {
  .pricing-card-container {
    width: 80%;
    margin: 0 auto;
  }

  .pricing-card {
    background-size: auto 43%;
    padding: 8% 0 8% 0;
  }
}

@media (min-width: 462px) and (max-width: 600px) {
  .pricing-card-container {
    width: 55%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .case-study-img-absolute {
    position: inherit;
    width: 100%;
  }

  .case-study-header-reset {
    display: block !important;
  }

  .testimonial-card {
    padding-top: 38%;

    .testimonial-card-img-container {
      position: absolute;
      top: -34px;
      left: 5%;
      height: auto;
      width: 90%;
    }
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .case-study-img-absolute {
    position: inherit;
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 796px) {
  .pricing-card-container {
    width: 66%;
    margin: 0 auto;
  }
  .pricing-card {
    background-size: auto 43%;
    padding: 8% 0 8% 0;
  }
}

@media (min-width: 796px) and (max-width: 1024px) {
  .pricing-card-container {
    width: 52%;
    margin: 0 auto;
  }
  .pricing-card {
    background-size: auto 43%;
    padding: 8% 0 8% 0;
  }
}


// Small laptop

@media (min-width: 1025px) and ( max-width: 1639px ) {
  .pricing-card-container {
    width: 28%;
  }
}
