// Control arrows

.arrow-svg, .arrow-mini-svg {
  width: auto;
  height: auto;
  max-height: 50px;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;


  g, circle {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    fill: $color-cobalt;
  }

  &:hover {

  g, circle {
    fill: #FFF;
  }

  path {
    fill: $color-cobalt;
  }
}
}

.arrow-svg-cobalt {
  width: auto;
  height: auto;
  max-height: 50px;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;


  g, circle {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    fill: #FFF;
  }

  &:hover {

  g, circle {
    fill: $color-cobalt;
  }

  path {
    fill: #FFF;
  }
}
}

// Hide control buttons from tinyslider

.tns-nav {
  display: none;
}

// Add grab cursor for slider

.tns-inner {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */

  &:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
  }
}

// Source background

.yellow-text-background {
  background-color: $color-yellow;
  padding: 2px 0 2px 5%;
}

// Mobile

@media screen and ( max-width: 600px ) {
  .arrow-mini-svg {
    max-height: 20px;
    max-width: none;
  }

  .arrow-svg {
    max-height: 45px;
  }
}
