// Control arrows

.arrow-svg {
  width: auto;
  height: auto;
  max-width: 20%;
  cursor: pointer;
}

// Hide control buttons from tinyslider

.tns-nav {
  display: none;
}

// Add grab cursor for slider

.tns-inner {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab; /* W3C standards syntax, should come least */

  &:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
  }
}

// Source background

.yellow-text-background {
  background-color: $color-yellow;
  padding: 2px 0 2px 5%;
}
