// Newsletter sign up CTA

.newsletter {
  input[type="text"] {
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 7px;
    background: transparent;
    padding: 9px 23px 9px 23px;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    min-width: 250px;
    }
}

// Mobile

@media screen and ( max-width: 600px ) {
  .newsletter {
    input[type="text"] {
      min-width: 170px;
      max-width: 200px
    }
  }
}
