// Newsletter sign up CTA

.newsletter {
  width: 100%;
  display: flex;

  input[type="text"] {
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 7px;
    background: transparent;
    padding: 9px 23px 9px 23px;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    width: 50%;
    }
}

// Quote submission

.submission-container {
  opacity: 0;
  width: 40%;
  max-width: 50%;
  padding: 5%;
  background-color: #191919;
  position: fixed;
  right: -2000px;
  top: 0;
  z-index: -1;
  transition: top 1.5s ease;
  color: #FFF;
  overflow-y: scroll;
  height: 100vh;
  box-sizing: border-box;
  transition: right 1.5s ease;
}

.submission-content {
  span {
    background-color: #FFF;
    color: $color-cobalt;
    padding: 2%;
    margin-top: 3px;
    display: inline-block;
    font-size: calc(22px + (33 - 22) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700;
    margin: 1.5% 0 1.5% 0;
    font-family: "Poppins",sans-serif;
  }
}

.quote {
  input[type="text"] {
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 7px;
    background: transparent;
    padding: 9px 23px 9px 23px;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing : border-box;
    }

    textarea {
      border: 2px solid #FFF;
      color: #FFF;
      border-radius: 7px;
      background: transparent;
      padding: 9px 23px 9px 23px;
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      width: 100%;
      box-sizing : border-box;
      min-height: 150px;
    }
}

// Landing page form

.landing-page-form, .landing-page-form-footer {

  input[type="text"] {
    background: transparent;
    padding: 9px 23px 9px 23px;
    border-bottom: 3px solid $color-pink !important;
    border: none;
    margin-right: 1em;
    font-family: "Poppins",sans-serif;
    font-size: 14px;


    &:focus {
      outline: none;
    }
  }
}

// Mobile

@media screen and ( max-width: 600px ) {
  .newsletter {
    input[type="text"] {
      width: 60%;
    }

    button {
      width: 30%;
    }
  }

  .submission-container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border: 11px solid #FFD500;
    padding: 8%;
  }

  .landing-page-form, .landing-page-form-footer{

    input[type="text"] {
      width: 100%;
      margin-bottom: 2em;
    }

    button {
      margin-top: 1em;
    }
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .submission-container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border: 11px solid #FFD500;
    padding: 17%;
  }

  .landing-page-form, .landing-page-form-footer {
    input[type="text"] {
      width: 100%;
      margin-bottom: 2em;
    }

    button {
      margin-top: 1em;
    }
  }
}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1182px ) {
  .landing-page-form {
    input[type="text"] {
      width: 80%;
      margin-bottom: 2em;
    }

    button {
      margin-top: 1em;
    }
  }

  .landing-page-form-footer {
      input[type="text"] {
        width: 32%;
      }
  }
}

@media (min-width: 1183px) and ( max-width: 1791px ) {
  .landing-page-form {
    button {
      margin-top: 3em;
    }
  }

  .landing-page-form-footer {
      input[type="text"] {
        width: 34%;
      }
  }

}
