// index

.hero {
  background-image: url("../assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  border: 15px solid $color-yellow;
}

// Sub pages

.hero-alt-blue {
  background-color: $color-blue;
}

// Mobile

@media screen and ( max-width: 600px ) {
  .hero {
    border: 11px solid $color-yellow;
  }
}
