// index

.hero {
  position: relative;
  min-height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: $color-yellow;
  top: 0;
  right: 0;
  width: 60%;
  height: 70%;
  z-index: -10;
  }
}

.hero-background-img {
  background-image: url("../assets/img/what-we-do.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  border: 15px solid #FFF;
}

.hero-offset-image {
  margin-right: -300px !important;
}

// Sub pages

.hero-alt-blue {
  background-color: $color-blue;
}

// Mobile

@media screen and (max-width: 600px) {
  .hero-offset-image {
    margin-right: 0 !important;
  }

  .hero {

    &:after {
    height: 63%;
    width: 66%;
    }
  }
}

@media screen and ( max-width: 1024px ) {
  .hero {
    border: 9px solid $color-yellow;
    height: auto;
  }
}

// Tablet

@media (min-width: 601px) and ( max-width: 1024px ) {
  .hero-offset-image {
    margin-right: 0 !important;
  }

  .hero {

    &:after {
    height: 52%;
    width: 42%;
    }
  }
}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1366px ) {
  .hero {
    height: auto;
  }
}
