// index

.hero {
  position: relative;
  height: 300px;

  &:after {
  content: '';
  position: absolute;
  background: $color-yellow;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: -10;
  }
}

// Sub pages

.hero-alt-blue {
  background-color: $color-blue;
}

// Mobile

@media screen and ( max-width: 1024px ) {
  .hero {
    border: 9px solid $color-yellow;
    height: auto;
  }
}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1366px ) {
  .hero {
    height: auto;
  }
}
