// General

.full-width-img {
  width: auto;
  height: auto;
  max-width: 100%;

}

// Logo

.logo {
  width: auto;
  height: auto;
  max-height: 40px;
}

// Hero box svg

.hero-svg {
  width: auto;
  height: auto;
  max-width: 30%;
  float: right;
}

.header-skull-svg {
  width: auto;
  height: auto;
  max-height: .8em;
  margin-left: 20px;
}

// Menu images

.menu-img {
  width: auto;
  height: auto;
  max-width: 70%;
}

// Mobile

@media screen and ( max-width: 600px ) {
  .header-skull-svg {
    max-height: 1em;
  }

  .hero-svg {
    max-width: 18%;
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .hero-svg {
    max-width: 15%;
  }
}
