// Border radii

.border-radius-22 {
  border-radius: 22px;
}

.border-radius-7 {
  border-radius: 7px;
}

// General

.full-width-img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.arrow-svg {
  width: auto;
  height: auto;
  max-height: 30px;
}

// Logo

.logo {
  width: auto;
  height: auto;
  max-height: 40px;
}

// Hero box svg

.hero-svg {
  width: auto;
  height: auto;
  max-width: 30%;
  float: right;
}

.header-skull-svg {
  width: auto;
  height: auto;
  max-height: .8em;
  margin-left: 20px;
}

// Menu images

.menu-img {
  width: auto;
  height: auto;
  max-width: 70%;
}

// Numbered section SVG

.numbered-section-svg {
  width: auto;
  height: auto;
  max-width: 10%;
}

.large-numbered-section-svg {
  width: auto;
  height: auto;
  max-width: 14%;
}
// Testimonial img

.testimonial-img {
  width: auto;
  height: auto;
  max-width: 25%;
  border-radius: 50%;
}

// Social media favicons

.social-media-svg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 35px;
}

// Panel image on what we do

.panel-img {
  width: auto;
  height: auto;
  max-width: 75%;
  border-radius: 22px;
}

// Services labels

.service-svg {
  width: auto;
  height: auto;
  max-width: 15%;
}

// Pricing card svgs

.pricing-svg {
  width: auto;
  height: auto;
  max-width: 50%;
  margin: 0 auto;
}

.pricing-list-svg {
  width: auto;
  height: auto;
  max-height: 0.8em;
  max-width: 0.8em;
}

.modular-svg {
  width: auto;
  height: auto;
  max-height: 19%;
}

.aftercare-svg {
  width: auto;
  height: auto;
  max-width: 100%;
}


// Mobile

@media screen and ( max-width: 600px ) {
  .header-skull-svg {
    max-height: 1em;
  }

  .hero-svg {
    max-width: 18%;
  }

  .testimonial-img {
    max-width: 30%;
  }

  .aftercare-svg {
    max-width: 50%;
  }

  .modular-svg {
    max-height: 60px;
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .hero-svg {
    max-width: 15%;
  }

  .numbered-section-svg {
    max-width: 7%;
  }

  .aftercare-svg {
    max-width: 40%;
  }

  .modular-svg {
    max-height: 70px;
  }
}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1366px ) {
  .numbered-section-svg {
    max-width: 15%;
  }
}
