// Horiztontal navigation bar

.nav-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  min-height: 120px;
  padding: 0 4% 0 4%;

  ul {
    margin: 0;
    min-height: 100%;
    padding: 0;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: flex-end;

  li > a {
    padding: 10px 25px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    font-family: $text-primary;
    font-size: 1.1em;
    color: $color-white;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;

    &:hover {
    }
  }
}

.social-media-container {
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  display: flex;

  .margin-outside {
    margin: 0 10px 0 10px;
  }

  .margin-outside-large {
    margin: 0 20px 0 20px;
  }
}

.nav-logo {
  flex: 1;

  img {
    width: auto;
    height: auto;
    max-width: 50px;
  }
}

// Menu

.menu-container {
  opacity: 0;
  height: 100%;
  padding: 5%;
  background-color: $color-cobalt;
  position: fixed;
  top: -2000px;
  left: 0;
  z-index: -1;
  border: 15px solid #FFD500;
  transition: top 1.5s ease;
  box-sizing: border-box;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    padding: 0;
    transition: opacity 1.5s ease;

    li {
      margin-bottom: 1.5em;
    }

    li > a {
      color: #FFF;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      transition: all 0.3s;
      font-size: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));

      &:hover {
        color: $color-pink;
      }
    }
  }
}

.menu-content {
  position: relative;
  width: 100%;
}

.cancel-button {
  width: auto;
  height: auto;
  max-height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu-logo {
  width: auto;
  height: auto;
  max-width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.mini-li {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
}

.menu-project-links > a {
  text-decoration: none;
  color: #FFF;
}

// Scrollbars

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-grey;
}

::-webkit-scrollbar-thumb {
  background: $color-cobalt;
  height: 20px;
}


// Mobile & Tablet responsive

@media screen and ( max-width: 1024px ) {

.social-media-container, .nav-links {
  flex: 1;
  width: auto;
  margin: 0 0 1rem .5rem;
}

.nav-links {
    li > a {
      padding: 0;
    }
}
}

@media screen and ( max-width: 1024px ) {
.nav-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%;
  min-height: 50px;
}

  .social-media-container {
    margin: 0;

    &:before {
      content: "";
      display: block;
      width: 100%;
      margin-bottom: 25px;
      border-bottom: 1px solid #474747;
    }
  }

  .menu-container {
    overflow-y: scroll;

    &:after {
      content: '';
      display: block;
      padding-bottom: 10%;
    }
  }
}

// Mobile

@media screen and ( max-width: 600px ) {
  .menu-logo {
    max-width: 28%;
  }

  .menu-content {
    padding-top: 15% !important;
  }

  .menu-container {
    border: 11px solid $color-yellow;
  }
}
