// Offset boxes

.offset-box-left {
  display: block;
  flex: none;
  width: 40%;
  margin: 100px -100px 0 0;
  z-index: 3;
  padding: 7%;

  h6 {
    letter-spacing: 2px;
    font-weight: $text-weight-semi-bold;
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
  }

  &:before {
    content: '';
    float: left;
    padding-top: 100%;
  }
}

.offset-box-right {
  display: block;
  flex: none;
  width: 40%;
  margin: 100px 0 0 -100px;
  z-index: 3;
  padding: 7%;

  h6 {
    letter-spacing: 2px;
    font-weight: $text-weight-semi-bold;
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
  }

  &:before {
    content: '';
    float: right;
    padding-top: 100%;
  }
}


// Offset images

.offset-box-img-container-right {
  flex: 1;
  display: block;
  margin: 0 -0 0 .5rem;
}

.offset-box-img-right {
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: -1;
  margin-right: -200px;
}

.offset-box-img-container-left {
  flex: 1;
  display: block;
  margin: 0 0 0 .5rem;
}

.offset-box-img-left {
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: -1;
  margin-right: -200px;
}


// Mobile

@media screen and ( max-width: 600px ) {
  .offset-box-left {
    margin: 50px 0 0 .5rem;
    padding: 7%;
    flex: 1;
    display: block;
    width: auto;
  }

  .offset-box-right {
    margin: 50px 0 0 .5rem;
    padding: 7%;
    flex: 1;
    display: block;
    width: auto;
  }

}

// Tablet {
@media (min-width: 601px) and (max-width: 1024px) {
   .offset-box-left {
     margin: 50px 0 0 1rem;
     padding: 10%;
     flex: 1;
     display: block;
     width: auto;

     &:before {
       padding-top: 0;
     }
   }

   .offset-box-right {
     margin: 50px 0 0 1rem;
     padding: 10%;
     flex: 1;
     display: block;
     width: auto;

     &:before {
       padding-top: 0;
     }
   }

}

// Small laptop

@media (min-width: 1025px) and ( max-width: 1400px ) {
  .offset-box-left {
    width: 50%;
    padding: 5%;
  }

  .offset-box-right {
    width: 50%;
    padding: 5%;
  }
}
