// Typography

body {
  font-family: 'Poppins', sans-serif;
  font-weight: $text-weight-regular;
  font-size: $text-size-body;
  color: $color-cobalt;

  p {
    opacity: 0.8;
    font-family: 'Lato', sans-serif;
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.9rem;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $text-headers;
  }
}

// Opacity

.p-opacity-reset {
  opacity: 1;
}

.opacity-70 {
  opacity: 0.7;
}

// Body text


.large-p {
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.small-p {
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

li {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $color-cobalt;
  font-family: $text-primary;
}

h1 {
  color: $color-white;
  font-size: calc(29px + (45 - 29) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
}

.h1-center-underline {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid #FFF;
    display: block;
    padding-top: .5rem;
    margin: 0 auto;
  }
}

// h1 underline reset

.h1-no-underline {
  &:after {
    content: none;
  }
}

h2 {
  margin: 1.5% 0 1.5% 0;
}

.hero-h2 {
  color: $color-cobalt;
  font-size: calc(29px + (40 - 29) * ((100vw - 300px) / (1600 - 300)));
  font-weight: $text-weight-bold;
  font-family: $text-headers;
  margin-top: -10px;
  margin-bottom: 25px;
}

.large-section-header {
  color: $color-cobalt;
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
  line-height: 2.4rem;
}

.large-section-header-bold {
  color: $color-cobalt;
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
}

.xl-section-header-bold {
  color: $color-cobalt;
  font-size: calc(28px + (38 - 28) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;

}

.small-section-header {
  font-size: calc(21px + (24 - 21) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
}

.box-header {
  color: $color-cobalt;
  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
}

.small-bold-header {
  color: $color-cobalt;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
  letter-spacing: 2px;
  font-weight: $text-weight-semi-bold;
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
}

.text-section-header {
  font-size: calc(19px + (23 - 19) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
  font-weight: $text-weight-bold;
}

.magazine-header {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: $color-cobalt;
  font-family: $text-headers;
  font-weight: $text-weight-semi-bold;
}

.landing-header {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  font-family: $text-headers;
  font-weight: $text-weight-light;
}

// Span with black background

.black-background-text {
  background-color: #191919;
  color: #FFF;
  padding: 2%;
  margin-top: 3px;
  display: inline-block;
}

// Color resets

.cobalt-text-reset {
  color: $color-cobalt;
}

.blue-text-reset {
  color: $color-blue;
}

.white-text-reset {
  color: #FFF;
}

.yellow-text-reset {
  color: $color-yellow;
}

.white-less-contrast-text-reset {
  color: #BBBBBB;
}

.text-sub-cobalt {
  color: #66656E;
}

.grey-text-reset {
  color: $color-grey;
}

.pink-text-reset {
  color: $color-pink;
}

// Underlined

.underlined-blue {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid $color-blue;
    display: block;
    padding-top: 1rem;
  }
}

.underlined-pink {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid $color-pink;
    display: block;
    padding-top: 1rem;
  }
}

.underlined-white {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid #FFF;
    display: block;
    padding-top: 1rem;
  }
}

.underlined-white-center {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid #FFF;
    display: block;
    padding-top: 1rem;
    margin: 0 auto;
  }
}


.underlined-cobalt {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid $color-cobalt;
    display: block;
    padding-top: 1rem;
  }
}



// Mobile

@media screen and ( max-width: 600px ) {
  h1 {
    &:after {
      margin-bottom: 1.5rem;
    }
  }
}
