// Typography

body {
  font-family: $text-primary;
  font-weight: $text-weight-light;
  font-size: $text-size-body;
  color: $color-cobalt;
}

li {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $color-cobalt;
  font-family: $text-primary;
}

h1 {
  color: $color-white;
  font-size: calc(29px + (45 - 29) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;

  &:after {
    content: "";
    width: 30%;
    border-bottom: 2px solid #FFF;
    display: block;
    padding-top: .5rem;
  }
}

.h1-center-underline {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid #FFF;
    display: block;
    padding-top: .5rem;
    margin: 0 auto;
  }
}

h2 {
  margin: 1.5% 0 1.5% 0;
}

.hero-h2 {
  color: $color-white;
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 400;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
  margin-top: 1em;
  margin-bottom: 1em;
}

.large-section-header {
  color: $color-cobalt;
  font-size: calc(22px + (33 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
}

.large-section-header-bold {
  color: $color-cobalt;
  font-size: calc(22px + (33 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
}

.small-section-header {
  color: $color-cobalt;
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 600;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
}

.box-header {
  color: $color-cobalt;
  font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
}

.small-bold-header {
  color: $color-cobalt;
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
  letter-spacing: 2px;
  font-weight: $text-weight-semi-bold;
  font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1600 - 300)));
}

.text-section-header {
  font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  font-family: $text-primary;
  font-weight: $text-weight-bold;
  letter-spacing: 2px;
}

.magazine-header {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
  margin: 1.5% 0 1.5% 0;
  color: $color-cobalt;
  font-family: $text-primary;
  font-weight: $text-weight-semi-bold;
}

// Span with black background

.black-background-text {
  background-color: #191919;
  color: #FFF;
  padding: 2%;
  margin-top: 3px;
  display: inline-block;
}

// Color resets

.blue-text-reset {
  color: $color-blue;
}

.white-text-reset {
  color: #FFF;
}

.yellow-text-reset {
  color: $color-yellow;
}

.white-less-contrast-text-reset {
  color: #BBBBBB;
}

.text-sub-cobalt {
  color: #66656E;
}

// Underlined

.underlined-blue {
  &:after {
    content: "";
    width: 20%;
    border-bottom: 2px solid $color-blue;
    display: block;
    padding-top: 1rem;
  }
}

// Mobile

@media screen and ( max-width: 600px ) {
  h1 {
    &:after {
      margin-bottom: 1.5rem;
    }
  }
}
