// Services UL

.services-ul {
  padding: 0 !important;
  list-style-type: none;

  li {
    color: #FFF;
    list-style-type: none;
    font-weight: $text-weight-medium;
    margin-bottom: .5em;
  }
}

// Services page horizontal UL

.services-horizontal-ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;

  li {
    color: $color-cobalt;
    font-weight: $text-weight-medium;
    flex: none;
    width: calc(100% / 3);
    list-style-type: none;
    padding: 0 5% 5% 0;

    &:before {
      content: "\2022";
      color: $color-blue;
      font-weight: 700;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

// Pricing card UL

.pricing-card-ul {
  li {
    margin-bottom: 10px;

    p {
      font-weight: 500;
      font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    }
  }
}

// Mobile

@media screen and ( max-width: 600px ) {
  .services-horizontal-ul {
    li {
      list-style-type: none;
      width: 100%;
    }
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .services-horizontal-ul {
    li {
      width: 50%;
    }
  }
}
