// Services UL

.services-ul {
  padding: 0 !important;
  list-style-type: none;

  li {
    color: #FFF;
    list-style-type: none;
    font-weight: $text-weight-medium;
    margin-bottom: .5em;
  }
}

// Services page horizontal UL

.services-horizontal-ul {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;

  li {
    color: $color-cobalt;
    font-weight: $text-weight-medium;
    flex: none;
    width: calc(100% / 3);
    list-style-type: disc;
    padding: 0 5% 3% 0;
  }
}
