// Variables - Colours

$color-yellow: #FFD500;
$color-blue: #00C6FB;
$color-pink: #FF0080;
$color-cobalt: #191919;
$color-white: #FFF;
$color-black: #090909;
$color-grey: #D6DFE2;
$color-pcss-navy: #015296;


// Typography

$text-primary: 'Lato', sans-serif;
$text-headers: 'Poppins', sans-serif;
$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-semi-bold: 600;
$text-weight-bold: 700;

$text-size-body: calc(15px + (16 - 15) * ((100vw - 300px) / (1600 - 300)));
